.tweet_panel_container {
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.display_picture {
  border-radius: 50%;
  width: 50px;
}
.tweet_input {
  margin-top: 10px;
  margin-left: 20px;
  font-size: x-large;
  background: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: white;
  width: 100%;
  overflow-wrap: break-word;
  resize: vertical;
  overflow: auto;
}
